body {
    background-color: #accecd;
    font-family:sans-serif;
}

#titleArea {
    height: 25%;
    font-size: 30px;
    text-align: center;
    height: 15%;
    border-radius: 8px;
}

#headline {
    color: #8a151b;
    height: 100%;
    width: 100%;
    font-weight: normal;
    align-content: center;
}

#digitsArea {
    
    height: 30%;
}

#displayDigits {
    margin-top: 15%;
    align-items: center;
    text-align: center;
    font-size: 160px;
    color: #8a151b;
}



#userInput {
   height: 20%;
    
}

#inputBox {
    color: black;
    background-color: #b7ae9d;
    border: solid 5px;
    border-color: #585340;
    height: 40%;
    width: 30%;
    align-items: center;
    align-content: center;
    margin-left: 35%;
    text-align: center;
    font-size: 160%;
    font-weight: bolder;
    letter-spacing: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
        
    
}
#btnSubmit {
    width: 20%;
    height: 25%;
    position: relative;
    margin-top: 20px;
    margin-left: 40%;
    background-color: #8a151b;
    border-radius: 8px;
    border-color: #585340;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 100%;
    font-weight: bolder;
}

#messageArea {
    height: 10%;
    color: #585340;
    align-content: center;
    text-align: center;
    font-size: 130%;
}
